<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sticky Header</title>
  <link rel="stylesheet" href="../../static/crops/rice.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="header">
    <h1><span>Onions</span></h1>
  </div>
  <div class="navbar">
    <a href="/"> <i class="fa-solid fa-house"></i></a>
    <a href="recommendation.html"><i class="fa-solid fa-magnifying-glass"></i></a>
    <h5 id="title">Onions</h5>
  </div>
  <div class="content">
    <h4 class="heading">Introduction to Onions crop</h4>
    <br>
    <br>
    <h6 class="inner">
      Onions, a staple in culinary dishes worldwide, are grown for their pungent flavor and versatility in cooking.
      Onions come in various colors, shapes, and sizes, and are used in a wide range of cuisines. Cultivated by farmers
      across the globe, onions play a vital role in both commercial agriculture and small-scale farming. From the fields
      of Asia to the farms of Europe and beyond, onion cultivation encompasses diverse practices and traditions. For
      farmers, onions represent not only a source of income but also a cultural heritage passed down through
      generations. This introduction explores the intricacies of onion cultivation, including methods, challenges, and
      the significance of this essential crop.
    </h6>

    <br><br>

    <h4 class="heading">Specification</h4>
    <br>
    <br>
    <h6 class="inner">
      Onions require specific environmental conditions to thrive and produce optimal yields. Onions prefer cool weather
      and well-drained soil rich in organic matter. The following are key specifications for successful onion
      cultivation:
      <br><br>
      <ol>
        <li>Temperature:</li>
        Onions thrive in cool weather, with temperatures ideally between 13°C to 24°C (55°F to 75°F). Cool temperatures
        promote bulb development and help prevent premature flowering.
        <li>Water:</li>
        Onions require consistent moisture, particularly during bulb formation. However, excessive moisture can lead to
        disease issues, so well-drained soil is essential.
        <li>Soil:</li>
        Onions grow best in loose, well-drained soil with good fertility. Sandy loam or loamy soils with a pH of 6.0 to
        7.5 are ideal for onion cultivation.
        <li>Sunlight:</li>
        Onions need full sun exposure for at least 6 hours a day to promote healthy growth and bulb development.
      </ol>
    </h6>

    <br><br>

    <h4 class="heading">Pests and Diseases</h4>
    <br>
    <br>
    <h6 class="inner">
      Onions are susceptible to various pests and diseases that can impact yield and quality. Common pests and diseases
      affecting onions include:
      <br><br>
      <ol>
        <li>Thrips:</li>
        Thrips feed on onion leaves, causing silvering and reducing photosynthesis.
        <li>Onion Maggots:</li>
        Maggots feed on onion roots, causing stunted growth and wilting.
        <li>Downy Mildew:</li>
        Downy mildew is a fungal disease that affects onion foliage, causing yellowing and lesions.
        <li>Botrytis Rot:</li>
        Botrytis rot infects onion bulbs, causing decay and storage losses.
      </ol>
    </h6>

    <br><br>

    <h4 class="heading">Management Practices</h4>
    <br>
    <br>
    <h6 class="inner">
      Effective management practices are essential for successful onion cultivation. These practices include:
      <br><br>
      <ol>
        <li>Rotation:</li>
        Rotate onion crops with non-allium crops to reduce disease pressure and maintain soil health.
        <li>Weed Control:</li>
        Implement weed control measures to minimize competition and ensure optimal onion growth.
        <li>Irrigation:</li>
        Provide consistent irrigation to onions, ensuring soil moisture levels are adequate for bulb development.
        <li>Fertilization:</li>
        Apply balanced fertilizers to provide essential nutrients for onion growth and bulb formation.
      </ol>
    </h6>
  </div><br><br><br>
  <div class="social-media">
    <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
  </div>

  <br>
  <footer>
    <div class="nop">
      <div class="footer-column1">
        <!-- Content for the first column -->
        <h3>ADDRESS</h3>
        <p>Near DKTE collage<br>Zenda chouk, Ichalkaranji<br>PIN:416115<br>Maharashtra, India</p>
      </div>

      <div class="footer-column2">
        <!-- Content for the first column -->
        <h3>COMPANY</h3>
        <p>privacy policy</p>
        <p>Terms and condition</p>
      </div>

      <div class="footer-column3">
        <!-- Content for the first column -->
        <h3>RESOURCE</h3>
        <p>Refund and Return Policy</p>
      </div>
    </div>

    <div class="copyright">
      <p>&copy; 2024 growcrop. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>
