<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Watermelon</title>
  <link rel="stylesheet" href="../../static/crops/rice.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="header">
    <h1><span>Watermelon</span></h1>
  </div>
  <div class="navbar">
    <a href="/"> <i class="fa-solid fa-house"></i></a>
    <a href="recommendation.html"><i class="fa-solid fa-magnifying-glass"></i></a>
    <h5 id="title">Watermelon</h5>
  </div>
  <div class="content">
    <h4 class="heading">Introduction to Watermelon crop</h4>
    <br>
    <br>
    <h6 class="inner">
      Watermelon, a refreshing summer fruit, is cultivated for its sweet, juicy flesh and high water content. Originating
      from Africa, watermelon cultivation has spread globally, with diverse varieties adapted to different climates and
      growing conditions. From backyard gardens to large-scale farms, watermelon production plays a significant role in
      agriculture and food supply chains. This introduction explores the art of watermelon cultivation, delving into
      the methods, challenges, and significance of growing this iconic fruit for consumers around the world.
    </h6>

    <br><br>

    <h4 class="heading">Specification</h4>
    <br>
    <br>
    <h6 class="inner">
      Watermelon cultivation requires specific environmental conditions to thrive and produce optimal yields. Watermelons
      thrive in warm, sunny climates with temperatures ranging from 25°C to 35°C (77°F to 95°F) during the growing
      season. Well-drained, sandy loam soils with good fertility and pH levels between 6.0 to 6.8 are ideal for
      watermelon cultivation. Adequate soil moisture is essential for watermelon plants, especially during the
      fruiting stage. While watermelons have high water requirements, they are sensitive to waterlogged conditions,
      which can lead to root rot and other diseases. Full sun exposure is crucial for optimal fruit development and
      sugar accumulation in watermelons. Humidity levels between 50% to 70% are suitable for watermelon cultivation,
      with proper airflow to prevent fungal diseases.
    </h6>

    <br><br>

    <h4 class="heading">Insect Attacks</h4>
    <br>
    <br>
    <h6 class="inner">
      Watermelon crops are susceptible to various insect pests, including:
      <br><br>
      <ol>
        <li>Aphids:</li> Sap-sucking insects that infest watermelon leaves and stems, causing distortion and
        stunted growth.
        <li>Whiteflies:</li> Tiny, flying insects that feed on watermelon sap and transmit viral diseases, leading
        to reduced yields.
        <li>Cucumber Beetles:</li> Adults feed on watermelon leaves, flowers, and fruit, while larvae feed on
        roots, leading to plant damage and reduced fruit quality.
        <li>Spider Mites:</li> These tiny pests feed on watermelon leaves, causing stippling and leaf discoloration,
        which can weaken plants and reduce yields.
      </ol>
    </h6>

    <br><br>

    <h4 class="heading">Pesticides</h4>
    <br>
    <br>
    <h6 class="inner">
      Pesticides play a crucial role in managing insect pests and diseases in watermelon cultivation. Farmers utilize a
      range of insecticides, fungicides, and miticides to protect watermelon crops from pests and ensure optimal yield
      and quality.
    </h6>

    <br><br>

    <h4 class="heading">Fertilizer</h4>
    <br>
    <br>
    <h6 class="inner">
      Watermelon crops benefit from balanced fertilization to meet their nutritional requirements for optimal growth and
      yield. Commonly used fertilizers for watermelon cultivation include:
      <br><br>
      <ol>
        <li>Nitrogen (N):</li> Important for foliage development and fruit set. Nitrogen sources such as urea or
        ammonium nitrate are commonly used in watermelon cultivation.
        <li>Phosphorus (P):</li> Essential for root development and fruit formation. Phosphorus sources such as
        superphosphate or bone meal are beneficial for watermelon crops.
        <li>Potassium (K):</li> Crucial for fruit enlargement and sugar accumulation. Potassium sources such as
        potassium sulfate or potassium nitrate help enhance watermelon yields and sweetness.
        <li>Calcium (Ca):</li> Important for preventing disorders such as blossom end rot. Calcium sources such as
        gypsum or calcium nitrate are applied to maintain adequate calcium levels in watermelon plants.
      </ol>
    </h6>
  </div><br><br><br>
  <div class="social-media">
    <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
  </div>

  <br>
  <footer>
    <div class="nop">
      <div class="footer-column1">
        <!-- Content for the first column -->
        <h3>ADDRESS</h3>
        <p>Near DKTE collage<br>Zenda chouk, Ichalkaranji<br>PIN:416115<br>Maharashtra, India</p>
      </div>

      <div class="footer-column2">
        <!-- Content for the first column -->
        <h3>COMPANY</h3>
        <p>privacy policy</p>
        <p>Terms and condition</p>
      </div>

      <div class="footer-column3">
        <!-- Content for the first column -->
        <h3>RESOURCE</h3>
        <p>Refund and Return Policy</p>
      </div>
    </div>

    <div class="copyright">
      <p>&copy; 2024 growcrop. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>
